.container-card div.akun{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    padding: 16px;
    
}

.container-card{
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

#akun label, #akun input{
width: 100%;
}

button#simpanakun{
    background-color: #11894A;
    color: white;
    padding: 4px;
    border: none;
    border-radius: 4px;
}
